html, body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.left {
    border: 1px solid black;
    grid-row: 1/3;
    display: grid;
    background-color: rgb(77, 168, 228);
    grid-template-rows: .5fr 1.5fr 1fr 5fr;
}

li {
    list-style-type: none;
}

.right-top {
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr;
}

.search-bar {
    margin: auto 0;
    border: 1px solid black;
}

.user-info {
    margin: auto 0;
    display: flex;
}

.row-one {
    grid-column: 1/4;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-content: center;
 
}

.info-dash {
    border: 1px solid red;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1/4;
    border:1px solid orange;
}

.annoucements{
    border: 1px solid pink;
}

.trending {
    border: 1px solid green;
}
